.columned-text {
    -moz-column-count: 2;
    -moz-column-gap: 2em;
    -moz-column-rule: 1px solid $color-grey-light-2;
    
    
    column-count: 2;
    column-gap: 2em;
    column-rule: 1px solid $color-grey-light-2;
    
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    

}