.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

.point {
    fill: red;
}

.point:hover {
    fill: blue;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.area {
    fill: #969696;
}

.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: #F1F3F3;
    stroke: #777;
    stroke-width: 3px;
}

.hover-line {
    stroke: #777;
    stroke-width: 2px;
    stroke-dasharray: 3, 3;
}

#selections .col-md-4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.line {
    fill: none;
    stroke-width: 3px;
    stroke: grey;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}